extends ../main.layout.pug

block variables
    - var title = 'Блог'

block scripts
    script(src='./assets/js/blog.bundle.js')

block content
    section.hero.hero--blog
        h2.visually-hidden Страница "Блог"
        include ../common/header
        .hero__content
            .user
                .user__photo(style="background-image: url('./assets/images/photo.jpg');")
            .hero__description
                .section-title.section-title--bg--blog
                .hero__title
                    h1.title-h1.title-h1--color--white= title
                .hero__subtitle Статьи, которые я писал

    .blog
        +triangles('')
        aside.blog__sidebar.sticky
            #posts-menu-wrapper
            btn.blog__btn

        #posts-list-wrapper