extends ../auth.layout.pug

block content
  .main-section#main-section
    header.header.header--welcome
      .header__left
      .header__right
        #btn
    section.center-block
      h1.visually-hidden Главная
      #welcome-flipper
    footer.footer.footer--bg--transparent
      .copyright
        small.copyright__text!= "&copy; Евгений Щербаков | создано с любовью в Loftschool | 2018"