extends ../auth.layout.pug

block content
  .main-section
    .container
      header.header
        .header__left
        .header__right
          button.btn.btn--view--rounded(tabindex=1) Авторизоваться
      section.center-block
        .welcome
          .welcome__box
            +user('./assets/images/photo.jpg', 'Евгений Щербаков', 'Личный сайт веб разработчика', 'welcome__user')
            +social(socials, 'socials', 'socials--view--transparent socials--color--green welcome__social')
            +menu([['works.html', 'Мои работы'], ['about.html', 'Обо мне'], ['blog.html', 'Блог']], 'menu', 'welcome__menu')
  footer.footer.footer--bg--transparent
    .footer__bot
      .copyright
        small.copyright__text!= "&copy Евгений Щербаков | создано с любовью в Loftschool | 2018"