extends ../main.layout.pug

block variables
    - var title = 'Мои работы'

block scripts
    script(src='./assets/js/works.bundle.js')

block content
    section.hero
        h2.visually-hidden Страница Мои работы
        include ../common/header
        .hero__content
            .section-title.section-title--bg--portfolio
            +user('./assets/images/photo.jpg', 'Евгений Щербаков', 'Личный сайт веб разработчика', 'hero__user')
        a.btn-down.hero__btn(href="#works")
            +icon('arrow_down', 'btn-down__icon')
    main.works#works
        +triangles('')
        h2.visually-hidden Слайдер Мои Работы
        .works__content
            .works__title
                h1.title-h1.title-h1--works= title
            .works__slider
                .slider
                    ul.slider__list
                        li.slider__item
                            .slider__item-info
                                .slider__item-description
                                    h2.title-h2.slider__item-title Сайт школы онлайн образования
                                    .slider__item-techonologies HTML , CSS, JavaScript
                                    a.btn.btn--view--rounded-green Посмотреть сайт
                            .slider__item-display
                                .slider__item-image-wrap
                                    img.slider__item-picture(src="./assets/images/slide1.png" alt="Первый слайд")
                            .slider__item-buttons
                                .slider__item-nav
                                    button.slider__item-prev
                                        +icon('portf_arrow_down', 'slider__icon')
                                    button.slider__item-next
                                        +icon('portf_arrow_up', 'slider__icon')
    section.about-me
        .about-me__content.container
            .about-me-title
                h2.title-h1.title-h1--about-me Что обо мне <br/> говорят
            .reviews
                ul.reviews__list
                    li.reviews__item
                        .reviews__photo(style="background-image: url('./assets/images/avatar-reviews1.jpg');")
                        blockquote.reviews__description
                            .reviews__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                            footer.reviews__author
                                .reviews__author-name Ковальчук Дмитрий
                                .reviews__author-post - основатель Loftschool
                    li.reviews__item
                        .reviews__photo(style="background-image: url('./assets/images/avatar-reviews2.jpg');")
                        blockquote.reviews__description
                            .reviews__text Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
                            footer.reviews__author
                                .reviews__author-name Сабанцев Владимир
                                .reviews__author-post - преподаватель
        #feedback-wrapper
        a.btn-up(href="#works")
            +icon('portf_arrow_up', 'btn-up__icon')