script(type="text/x-template")#feedback
    .form.about-me__form
        h2.title-h2.title-h2--color--white.form__title Связаться со мной
        form.form__area(@submit.prevent="sendForm" novalidate="true" action="http://loftschool.ozpkmsimply.tmweb.ru/feedback.php" method="post")
            .form__fields
                .form__row
                    .form__field
                        label.form__label.form__label_input(for="name") Имя
                        input.form__input-text(@invalid="invalidField" type="text" placeholder="Имя" name="name" v-model.trim="name")
                .form__row
                    .form__field
                        label.form__label.form__label_input(for="email") Email
                        input.form__input-text(@invalid="invalidField" type="email" placeholder="Email" name="email" v-model.trim="email")
                .form__row
                    .form__field
                        label.form__label.form__label_input(for="msg") Ваше сообщение
                        textarea.form__input-text.form__input-text--textarea(@invalid="invalidField" placeholder="Ваше сообщение" rows="3" name="msg" v-model.trim="msg")
            .form__row.form__row--controls
                button.form__button.form__button-submit(type="submit") Отправить
                button.form__button.form__button-clear(type="reset") Очистить
        .form__success(:class='{"form__success--active": success == true}')
            .form__success-message Сообщение успешно отправлено
        .form__unsuccess(:class='{"form__unsuccess--active": unsuccess == true}')
            .form__unsuccess-message(v-for="error in errors") {{ error }}