script(type="text/x-template")#btn-show
    button.btn.btn--view--rounded-transparent#btn-auth(@click="flip" tabindex=1 type="button") Авторизоваться

script(type="text/x-template")#welcome
    .welcome
        .welcome__box
            //transition(name="flip")
            welcome-front
            welcome-back

script(type="text/x-template")#box-front
    .welcome__box-front
        +user("./assets/images/photo.jpg", "Евгений Щербаков", "Личный сайт веб разработчика", "welcome__user")
        +social(socials, "socials", "socials--view--transparent socials--color--green welcome__social")
        +menu([["works.html", "Мои работы"], ["about.html", "Обо мне"], ["blog.html", "Блог"]], "menu", "welcome__menu")

script(type="text/x-template")#box-back
    .welcome__box-back
        h2.title-h2.title-h2--color--white.welcome__title Авторизуйтесь
        .form.welcome__box-form
            form.form__area(@submit.prevent="sendForm" action="http://loftschool.ozpkmsimply.tmweb.ru/auth.php", method="post")
                .form__fields
                    .form__row
                        .form__field.form__field--login
                            label.form__label.form__label_input(for="login") Логин
                            input.form__input-text(@invalid="invalidField" @input="validField" v-model.trim="login" required type="text" placeholder="Логин" name="login")
                    .form__row
                        .form__field.form__field--password
                            label.form__label.form__label_input(for="password") Пароль
                            input.form__input-text(@invalid="invalidField" @input="validField" v-model="password" required type="password" placeholder="Пароль" name="password")
                    .form__row
                        .form__checkbox
                            .form__checkbox-element
                                input(v-model="noRobot" name="call" id="checkbox-no-robot" type="checkbox" class="form__checkbox-input")
                                label(for="checkbox-no-robot" class="form__checkbox-fake") Я человек
                    .form__row
                        .form__row-title Вы точно не робот?
                        .form__radio
                            .form__radio-element
                                input(v-model="robot" name="robot" value="yes" id="radio-yes" type="radio" class="form__radio-input")
                                label(for="radio-yes" class="form__radio-fake") Да
                            .form__radio-element
                                input(v-model="robot" name="robot" value="no" id="radio-no" type="radio" class="form__radio-input")
                                label(for="radio-no" class="form__radio-fake") Не уверен
                .form__row.form__row--controls
                    button.form__button.form__button--back(type="button") На главную
                    button.form__button.form__button--submit(type="submit") Войти