script(type="text/x-template")#posts-menu
    ul.nav-blog.nav-blog__list
        li.nav-blog__item(
            v-for="(post, key) in posts"
            :key="post.id"
            :class='{"nav-blog__item--active": key === 0}'
        )
            a.nav-blog__link(href="#") {{post.title}}

script(type="text/x-template")#posts-list
    main.blog__content.articles
        h2.articles__title.visually-hidden Мои статьи
        post(v-for="post in posts" :key="post.id" :post="post")

script(type="text/x-template")#post
    article.articles__item
        header.articles__item-header
            h2.title-h2.articles__item-title {{post.title}}
            time.articles__item-date
        .articles__item-content.text-content {{post.content}}