-
    var socials = {
        "vk": "//vk.com",
        "github": "//github.com",
        "in": "//linkedin.com"
    }

-
    var skills = [
    ['Frontend', [['HTML5', 30], ['CSS3', 50], ['JavaScript & jQuery', 70]]],
    ['Backend', [['PHP', 30], ['mySQL', 50], ['Node.js & npm', 70], ['Mongo.db', 70]]],
    ['WorkFlow', [['Git', 30], ['Gulp', 50], ['Bower', 70]]],
    ]

-
    var contacts = [
    ['skype', 'skype_kdn', 'skype:skype_kdn'],
    ['envelope', 'astahov@gmail.com', 'mailto:astahov@gmail.com'],
    ['phone', '+7 931 200 93 24', 'tel:+79312009324'],
    ['map_marker', 'Новосибирск, ул. Инская, д.14', '']
    ]