footer.footer
    .footer__top
        .footer-info
            .footer-info__col
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
            .footer-info__col
                +menu([['/works.html', 'Мои работы'], ['/about.html', 'Обо мне'], ['/blog.html', 'Блог'], ['/auth.html', 'Авторизация']], 'menu', 'menu--view--transparent footer-info__menu')
                +social(socials, 'socials', 'socials--view--transparent')
            .footer-info__col.text-content
                blockquote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                    span.text-content__author Martin Golding
    .footer__bot
        .copyright
            p.copyright__text!= "&copy Евгений Щербаков | создано с любовью в Loftschool | 2018"