include ./common/_variables
include ./common/_mixins

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | Welcome page
    link(rel="stylesheet", href="./assets/css/main.min.css")
  body
    block content

    include ./components/modules/flipper

    script(src="./assets/js/bootloader.bundle.js")
    script(src='./assets/js/vendor.bundle.js')
    script(src="./assets/js/auth.bundle.js")