body, html {
  height: 100%;
}

body {
  font-family: $font-text;
  font-size: 16px;
  line-height: 1.42;
  color: $text-color;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include tablets {
    font-size: 14px;
  }
}

.wrapper {
  //overflow: hidden;
  min-height: 100%;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  padding: 0 2.5%;
}

button {
  border: 0;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.disable-scroll {
  overflow: hidden;
}