@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

@font-face {
  font-family: 'bernier';
  src: url('/assets/fonts/bernierregular-regular-webfont.woff') format('woff'), 
  url('/assets/fonts/bernierregular-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}