.main-section {
	height: 100%;
	overflow: hidden;
}

a {
	color: $link;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}

.center-block {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.title-h1 {
	font-family: $font-title;
	color: $title-color;
	text-transform: uppercase;
	font-size: 63px;
	text-align: center;
	position: relative;
	z-index: 1;
	line-height: 66px;
	&:after {
		content: '';
		display: block;
		width: 90px;
		height: 3px;
		margin: 15px auto;
		background-color: $title-color;
	}
	@include tablets {
		font-size: 49px;
		line-height: 52px;
	}
	@include phones {
		font-size: 35px;
		line-height: 42px;
	}
}

.title-h1--works:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	left: 0;
	bottom: 0;
	opacity: .1;
	background-image: svg-load('works_header.svg', fill=$pale-green);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.title-h1--about-me:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	left: 0;
	bottom: 0;
	opacity: .1;
	background-image: svg-load('about_header.svg', fill=$pale-green);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.title-h1--about:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 150%;
	left: 0;
	bottom: 0;
	opacity: .1;
	background-image: svg-load('about_header.svg', fill=$pale-green);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
}

.title-h2 {
	font-family: $font-title;
	color: $text-color;
	font-size: 35px;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.2;
	&:after {
		content: '';
		display: block;
		width: 90px;
		height: 3px;
		margin: 15px auto;
		background-color: $title-color;
	}
	@include tablets {
		font-size: 30px;
	}
	@include phones {
		font-size: 21px;
		line-height: 28px;
		&:after {
			width: 55px;
		}
	}
}

.title-h1--color--white {
	color: $white;
	&:after {
		background-color: $white;
	}
}

.title-h2--color--white {
	color: $white;
	&:after {
		background-color: $white;
	}
}