.about-me {
	background-image: url('../images/bg-about-me.jpg');
	background-repeat: no-repeat;
	background-position: top;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	padding-bottom: 155px;
}

.about-me__content {
	margin-bottom: 60px;
}