.articles {

}

.articles__item {
	text-align: left;
	padding-bottom: 60px;
	border-bottom: 5px solid #ecebe4;
	margin-bottom: 50px;
	&:last-child {
		padding-bottom: 0;
		border-bottom: none;
	}
	@include phones {
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
}

.articles__item-date {
	display: inline-block;
	opacity: .7;
	color: $green;
	margin-bottom: 20px;
	@include phones {
		margin-bottom: 10px;
	}
}

.articles__item-title {
	text-align: left;
	margin-bottom: 20px;
	text-transform: initial;
	&:after {
		display: none;
	}
	@include phones {
		margin-bottom: 10px;
	}
}