.blog {
	display: flex;
	padding-top: 40px;
	position: relative;
}

.blog__sidebar {
	width: 25%;
	padding-left: 60px;
	@include tablets {
		display: none;
	}
}

.blog__content {
	width: 75%;
	padding-left: 80px;
	padding-right: 100px;
	@include tablets {
		width: 100%;
		padding: 0 25px;
	}
}