.blog {
	display: flex;
	padding-top: 40px;
	position: relative;
}

.blog__sidebar {
	width: 25%;
	padding-left: 60px;
	@include tablets {
		display: flex;
		align-items: center;
		padding-left: 20px;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 100%;
		width: 90%;
		background-color: $pale-green;
		z-index: 10;
		&:after {
			content: '';
			background-color: $pale-green;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			position: absolute;
			right: -10px;
		}
	}
}

.blog__sidebar--active {
	right: 10%;
}

.blog__content {
	width: 75%;
	padding-left: 80px;
	padding-right: 100px;
	@include tablets {
		width: 100%;
		padding: 0 25px;
	}
}