.form {
	width: 380px;
	margin: 0 auto;
	background-color: hsla(72,6%,85%,.6);
	border-radius: 5px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	@include phones {
		width: 95%;
	}
}

.form__success, .form__unsuccess {
	color: black;
	opacity: 0;
	position: absolute;
	height: 30%;
	width: 80%;
	z-index: 20;
	top: 50%;
	left: -9999px;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: rgba($white, .9);
	border-radius: 5px;
	box-shadow: 2px 2px 10px black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: opacity .3s;
	&--active {
		opacity: 1;
		left: 50%;
	}
}

.form__success-message,
.form__unsuccess-message {
	display: block;
}

.form__area {
	width: 100%;
	margin: 0 auto;
}

.form__label {
	opacity: .8;
}

.form__title {
	color: $text-color;
	font-size: 35px;
	&:after {
		background-color: $text-color;
	}
	@include phones {
		font-size: 21px;
	}
}

.form__row {
	width: 100%;
}

.form__row--controls {
	display: flex;
}

.form__fields {
	width: 90%;
	margin: 0 auto 15px;
}

.form__field {
	height: 100%;
	position: relative;
}

.form__row-title {
	font-weight: bold;
	opacity: .8;
	margin-bottom: 10px;
}

.form__checkbox-element,
.form__radio-element {
	display: inline-flex;
	align-items: center;
	margin-right: 40px;
	&:last-child {
		margin-right: 0;
	}
}

.form__checkbox-input,
.form__radio-input {
	position: absolute;
	top: 0;
	left: -9999px;
}

.form__checkbox-fake,
.form__radio-fake {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.form__checkbox-fake:before {
	content: '';
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 2px;
	margin-right: 10px;
	transition: background-color .3s;
}

.form__checkbox-input:checked + .form__checkbox-fake:before {
	background-image: svg-load('check.svg', fill=#c4cbcd);
	background-color: $pale-green;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
}

.form__radio-fake:before {
	content: '';
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: $white;
	transition: border .2s;
	margin-right: 10px;
}

.form__radio-input:checked + .form__radio-fake::before {
	content: "\2022";
	color: $pale-green;
	font-size: 40px;
	text-align: center;
}

.form__radio {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form__button {
	color: $white;
	font-weight: 500;
	width: 50%;
	height: 45px;
	line-height: 45px;
	transition: .3s;
	background-color: $pale-green;
	border-right: 2px solid rgba($white, .5);
	&:last-child {
		border-right: none;
	}
	&:hover {
		background-color: $green;
	}
}

.form__label {
	position: absolute;
	left: -9999px;
	top: 0;
}

.form__errors {
	width: 90%;
	margin: 0 auto 15px;
}

.form__errors-item {
	color: red;
}

.form__input-text {
	border: 1px solid $white;
	width: 100%;
	height: 45px;
	padding: 0 20px;
	line-height: 45px;
	overflow: hidden;
	border-radius: 22px;
	background-color: $white;
	color: $title-color;
	transition: .3s;
	&::placeholder {
		color: rgba($title-color, .5);
	}
	&--error {
		border: 1px solid red;
	}
}

.form__input-text--textarea {
	height: initial;
	line-height: 1.42;
	min-height: 130px;
	resize: vertical;
}

.form__row {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.form__field--login:before,
.form__field--password:before {
	width: 45px;
	line-height: 43px;
	height: 43px;
	margin-left: 1px;
	margin-top: 1px;
	background-color: #f0efe9;
	display: block;
	position: absolute;
	border-radius: 22px 0 0 22px;
}

.form__field--login:before {
	content: svg-load('login.svg', fill=#c4cbcd);
}

.form__field--password:before {
	content: svg-load('password.svg', fill=#c4cbcd);
}

.welcome__box-form {
	background-color: transparent;
	padding-top: 0;
	width: 100%;
	.form__area {
		padding-top: 0;
		background-color: transparent;
	}
	.form__input-text {
		padding-left: 60px;
	}
}

.about-me__form {
	margin-bottom: 50px;
}

