.hero {
	position: relative;
	background-image: url('../images/welcome-bg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero__content {
	position: relative;
	padding: 30px;
}

.hero--blog {
	display: block;
	height: auto;
	min-height: 440px;
	.hero__description {
		position: relative;
	}
	.hero__title {
		margin-bottom: 25px;
	}
	.hero__subtitle {
		text-align: center;
		color: $white;
	}
}