.menu-hamburger {
	display: inline-flex;
	position: relative;
	width: 40px;
	height: 35px;
	cursor: pointer;
	align-items: center;
	background-color: transparent;
	padding: 0;
	z-index: 55;
	@include phones {
		width: 25px;
		height: 23px;
	}
}

.menu-hamburger__lines {
	height: 5px;
	width: 100%;
	background-color: #fff;
	-webkit-border-radius: .25rem;
	border-radius: .25rem;
	transition: .4s;
	@include phones {
		height: 3px;
	}
	&:before, &:after {
		content: '';
		display: block;
		position: absolute;
		height: 5px;
		width: 100%;
		background-color: #fff;
		-webkit-border-radius: .25rem;
		border-radius: .25rem;
		transition: .4s;
		@include phones {
			height: 3px;
		}
	}
	&:before {
		top: 0;
	}
	&:after {
		bottom: 0;
	}
}

.menu-hamburger--active {
	.menu-hamburger__lines {
		background-color: transparent;
		&:before {
			top: 15px;
			transform: rotate(45deg);
			@include phones {
				top: 5px;
			}
		}
		&:after {
			bottom: 15px;
			transform: rotate(-45deg);
		}
	}
}