.preloader {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $pale-green;
	background-image: url('../images/forest_prel_bg.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	z-index: 50;
	transition: opacity .5s;
	/*&--hide {
		opacity: 0;
		z-index: 0;
	}*/
}

.preloader__svg {
	fill: $white;
	stroke: $white;
}

.ocean {
	bottom:0;
	left:0;
	height: 80px;
	width: 80px;
	position: relative;
	overflow: hidden;
}

.wave {
	background: url("../images/wave.svg") repeat-x;
	position: absolute;
	top: 0;
	width: 100px;
	height: 55px;
	animation: wave 1.5s ease-in-out .2s infinite;
	transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
	top: 20px;
	animation: wave 1.5s ease-in-out .4s infinite;
}

.wave:nth-of-type(3) {
	top: -20px;
	animation: wave 1.5s ease-in-out infinite;
}

@keyframes wave {
	0% {
		margin-left: -100px;
	}
	100% {
		margin-left: 100px;
	}
}