.preloader {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $pale-green;
	background-image: url('../images/forest_prel_bg.jpg');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	z-index: 50;
	transition: opacity .5s;
	&--hide {
		opacity: 0;
		z-index: 0;
	}
}

.preloader__text {
	fill: $white;
}

@keyframes load {
	to {
		stroke-dasharray: 200;
		stroke-dashoffset: -100
	}
}

.wave {
	fill: none;
	stroke: #ffffff;
	stroke-dasharray: 100;
	stroke-dashoffset: 100;
	transition: all .6s ease;
	animation: load 1s cubic-bezier(1, 0, .8, .65) infinite;
}

.wave--2 {
	animation-delay: .15s
}

.wave--3 {
	animation-delay: .3s
}