.skills {
	color: $text-color;
	@include laptop {
		text-align: center;
	}
}
.skills-row__title {
	text-align: left;
	font-size: 28px;
	font-weight: 500;
	margin-bottom: 15px;
	@include laptop {
		text-align: center;
	}
	@include phones {
		font-size: 21px;
	}
}

.skills-row__item {
	display: inline-block;
	width: 110px;
	height: 110px;
	margin-right: 30px;
	margin-bottom: 20px;
	&:last-child {
		margin-right: 0;
	}
	@include phones {
		margin: 15px;
		&:last-child {
			margin-right: 15px;
		}
	}
}

.skills-list__item {
	margin-bottom: 35px;
	@include phones {
		margin-bottom: 20px;
	}
}

.skill {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	opacity: 0;
	transition: opacity .6s;
}

.skill__figure {
	fill: transparent;
	max-width: 100%;
	stroke-width: 18px;
	transform: rotate(-90deg);
	transform-origin: center;
}

.skill__circle_under {
	stroke: #dfdcd5;
}

.skill__circle_above {
	stroke: $green;
	stroke-dasharray: 251;
	stroke-dashoffset: 251;
	transition: stroke-dashoffset 1s ease;
	transition-delay: .1s;
}

.skill__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: $green;
	font-size: 13px;
	font-weight: 500;
	text-align: center;
}

.skills-row__list {
	@include phones {
		text-align: center;
	}
}