.slider {
	height: 100vh;
	@include tablets {
		height: auto;
	}
	min-height: 570px;
	margin-bottom: 60px;
}

.slider__list {
	position: relative;
	height: 100%;
}

.slider__item {
	height: 100%;
	display: grid;
	grid-template:
			"info picture" 70%
			"info buttons" 30%
		/ 1fr 1fr;
	@include tablets {
		grid-template:
			"picture" 500px
			"info" 260px
			"buttons" 220px
			/ 1fr;
	}
	@include phones {
		grid-template:
			"picture" 250px
			"info" 220px
			"buttons" 100px
			/ 1fr;
	}
}

.slider__item-info {
	grid-area: info;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebefe2;
}

.slider__item-display {
	grid-area: picture;
	background-color: #e1e4d7;
}

.slider__item-buttons {
	grid-area: buttons;
}

.slider__item-description {
	width: 80%;
	text-align: center;
}

.slider__item-techonologies {
	color: $green;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 50px;
	@include phones {
		margin-bottom: 10px;
	}
}

.slider__item-image-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.slider__item-picture {
	display: block;
	max-width: 70%;
	max-height: 70%;
}

.slider__item-nav {
	height: 100%;
	display: flex;
}

.slider__item-prev,
.slider__item-next {
	position: relative;
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

.slider__icon {
	width: 43px;
	height: 27px;
	fill: $white;
	z-index: 10;
}

.slider__item-prev {
	background-image: url('../images/slide-nav-prev.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#b0b7aa, .7);
	}
}

.slider__item-next {
	background-image: url('../images/slide-nav-next.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(#93998d, .7);
	}
}