.slider {
	height: 100vh;
	min-height: 570px;
	margin-bottom: 60px;
	background: #f0efe9;
	display: grid;
	grid-template:
			"info display" 70%
			"info buttons" 30%
    / 1fr 1fr;

	@include tablets {
		height: auto;
		grid-template:
				"display" 400px
				"info" 300px
				"buttons" 200px
      / 1fr;
	}
}


.slider__display {
	grid-area: display;
	background: #efebe0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__img-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider__big-pic {
	display: block;
	max-width: 90%;
	max-height: 90%;
}

.slider__buttons {
	grid-area: buttons;
	display: flex;
	overflow: hidden;
}

.slider__button {
	width: 50%;
	position: relative;
	cursor: pointer;
	user-select: none;
	transition: .5s;

	&:hover {
		opacity: .7;
	}

	&:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#000, .3);
		z-index: 10;
	}

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 44px;
		height: 29px;
		background: svg-load('arrow_down.svg', fill=#ffffff) center center no-repeat / contain;
		z-index: 20;
	}
	&--prev {
		&:after {

		}
	}
	&--next {
		&:after {
			transform: translate(-50%, -50%) rotate(-180deg);
		}
	}
}

.slider__button-img-wrap {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider__button-pic {
	display: block;
	max-width: 90%;
	max-height: 90%;
}

.slider__button-img-container {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.slider__item-techonologies {
	color: $green;
	text-transform: uppercase;
	font-weight: 500;
	margin-bottom: 50px;
	font-size: 0;
	span {
		font-size: 14px;
		display: inline-block;

		&.whitespace {
			&:after {
				content: "\00a0";
			}
		}
	}
	@include phones {
		margin-bottom: 10px;
	}
}


.slider__item-info {
	grid-area: info;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ebefe2;
}

.slider__item-description {
	width: 80%;
	text-align: center;
}

.slide-down-enter-active, .slide-down-leave-active {
	transition: 1s;
}

.slide-down-leave {
	bottom: 0%;
}

.slide-down-leave-to {
	bottom: -100%;
}

.slide-down-enter {
	bottom: 100%;
}

.slide-down-enter-to {
	bottom: 0%;
}


.slide-up-enter-active, .slide-up-leave-active {
	transition: 1s;
}

.slide-up-leave {
	bottom: 0%;
}

.slide-up-leave-to {
	bottom: 100%;
}

.slide-up-enter {
	bottom: -100%;
}

.slide-up-enter-to {
	bottom: 0%;
}

//animation big image
.fade-out-enter-active, .fade-out-leave-active {
	transition: .5s;
}

.fade-out-leave {
	opacity: 1;
}

.fade-out-leave-to {
	opacity: 0;
}

.fade-out-enter {
	opacity: 0;
}

.fade-out-enter-to {
	opacity: 1;
}

//bounce animation
@keyframes bounceIn {
	from,
	20%,
	40%,
	60%,
	80%,
	to {
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	0% {
		opacity: 0;
		transform: scale3d(0.3, 0.3, 0.3);
	}

	20% {
		transform: scale3d(1.1, 1.1, 1.1);
	}

	40% {
		transform: scale3d(0.9, 0.9, 0.9);
	}

	60% {
		opacity: 1;
		transform: scale3d(1.03, 1.03, 1.03);
	}

	80% {
		transform: scale3d(0.97, 0.97, 0.97);
	}

	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}

.bounceIn {
	animation-duration: 2s;
	animation-name: bounceIn;
}