.socials {

}

.socials__list {

}

.socials__item {
	display: inline-block;
	margin: 0 25px 0 0;
	width: 35px;
	height: 25px;
	overflow: hidden;
	vertical-align: middle;
	&:last-child {
		margin-right: 0;
	}
	@include phones {
		width: 21px;
		height: 17px;
	}
}

.socials__link {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	transition: .3s;
	&:hover {
		.socials__icon {
			fill: $white;
		}
	}
}

.socials__icon {
	transition: .3s;
	width: 100%;
	height: 100%;
	fill: $white;
}

.socials--view--transparent {
	.socials__link {
		opacity: .5;
		&:hover {
			opacity: 1;
		}
	}
}

.socials--color--green {
	.socials__link {
		&:hover {
			.socials__icon {
				fill: $green;
			}
		}
	}
}

.welcome__social {
	margin-bottom: 30px;
}
