.welcome {
	color: $white;
	text-align: center;
	width: 100%;
}

.welcome__box {
	width: 380px;
	height: 395px;
	position: relative;
	perspective: 1000px;
	margin: 0 auto;
	@include phones {
		height: 375px;
		width: 95%;
		margin: 0 auto;
	}
}

.welcome__title {
	@include phones {
		font-size: 30px;
	}
}

.welcome__box-front,
.welcome__box-back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-direction: column;
	backface-visibility: hidden;
	transition: .7s;
	overflow: hidden;
	border-radius: 5px;
	background-color: rgba(#122620, .6);
}

.welcome__box-back {
	transform: rotateY(180deg);
}

.welcome__box--active .welcome__box-front {transform: rotateY(180deg);}
.welcome__box--active .welcome__box-back {transform: rotateY(360deg);}